<h1>{{user.first_name}} {{user.last_name}}</h1>
<ul class="list-group">
    <li class="list-group-item"><strong> ID: </strong>{{user.id}}</strong></li>
    <li class="list-group-item"><strong> Email: </strong>{{user.email}}</strong></li>
</ul>
<br>
<a class="btn btn-primary" href="/">Back</a>